.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputlabel {
  border: 1px solid #246df8;
  background-color: #246df8;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.example-chip-list {
  width: 100%;
}
.labelSalary {
  color:#246df8!important;
  margin-top:15px;
}
.photo {
  margin-bottom: 20px;
    width: 50px;
    border-radius: 25%;
    border: 1px solid #246df8;
}
.emp-profile{
  padding: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
color: #0062cc;
}
.profile-edit-btn{
border: none;
border-radius: 1.5rem;
width: 70%;
padding: 2%;
font-weight: 600;
color: #6c757d;
cursor: pointer;
}
.proile-rating{
font-size: 12px;
color: #818182;
margin-top: 5%;
}
.proile-rating span{
color: #495057;
font-size: 15px;
font-weight: 600;
}
.profile-head .nav-tabs{
/*margin-bottom:5%;*/
}
.profile-head .nav-tabs .nav-link{
font-weight:600;
border: none;
}
.profile-head .nav-tabs .nav-link.active{
border: none;
border-bottom:2px solid #0062cc;
}
.profile-work{
padding: 14%;
margin-top: -15%;
}
.profile-work p{
font-size: 12px;
color: #818182;
font-weight: 600;
margin-top: 10%;
}
.profile-work a{
text-decoration: none;
color: #495057;
font-weight: 600;
font-size: 14px;
}
.profile-work ul{
list-style: none;
}
.profile-tab label{
font-weight: 600;
}
.profile-tab p{
font-weight: 600;
color: #0062cc;
}
.nav-tabs {
  border-bottom: 0px solid #dee2e6!important;
}

.btn-secondary {
  color: #fff!important;
  background-color: #246df8!important;
  border-color: #246df8!important;
  width: 123px!important;
  font-size: 12px!important;

}
.imageUser {
  width: 37px;
    max-width: 36px;
    max-height: 32px;
    height: 30px;
    border-radius: 20px;

}
.messagePointer {
  cursor: pointer;
  border: 1px solid white;
  padding: 20px;
  padding-left: 6px;
  margin-left: -10px;
}
.messageBox {
  background-color: #00acee;
  color: white;
}
.navbar {
  box-shadow: 0 6px 5px 0 rgba(244, 244, 244, 0.45), 0 2px 10px 0 rgba(255, 253, 253, 0.12);
  font-weight: 300;
}
.messagePointer:hover {
  background-color: #00acee;
  color: white;
}
.form-control2 {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 2.375rem .75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.messagedialog {
  min-width: 410px;
  overflow-y: initial !important
}
.messagebody{
  height: 250px;
  overflow-y: auto;
}
.messagebody::-webkit-scrollbar{width: 10px;}
.speech-bubble {
	position: relative;
	background: #00aabb;
  border-radius: .4em;
  word-break: break-all;
  color: white;
  font-size: 17px;
  padding-right: 0;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-right: -8px;
}
.speech-bubble2 {
	position: relative;
	background: #c0c0c0;
  border-radius: .4em;
  word-break: break-all;
  min-width: 10%;
  color: black;
  font-size: 17px;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-right-color: #c0c0c0;
	border-left: 0;
	border-bottom: 0;
	margin-top: -4px;
	margin-left: -8px;
}
.imageUser2 {
  width: 84px;
    max-width: 102px;
    max-height: 87px;
    height: 85px;
    border-radius: 20px;
}

.margin-btn{
  margin-bottom: 10px;
}