<div class="container">
  <div class="signin-content">
    <div class="signin-image">
      <figure><img src="./../../assets/images/signin-image.jpg" alt="sing up image"></figure>
      <div class="text-center">
          <button type="button" class="btn btn-secondary  " (click)="moveToRegister()">Register</button>
      </div>
      
    </div>
    <div class="signin-form">
      <h2 class="form-title">Sign up</h2>
      <form [formGroup]="loginForm" class="register-form" id="login-form">
        <div class="form-group">
          <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
          <input type="password" formControlName="password" placeholder="Password" />
        </div>

        <div class="form-group form-button">
          <input type="submit" name="signin" id="signin" class="form-submit" (click)="login(loginForm.value)"
            value="Login" />
        </div>
      </form>
    </div>
  </div>
</div>